/*------------------------------------*\
    $PAGE
\*------------------------------------*/
html {
  background: $page-color;
  color: $base-color;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


/**
 * Main content wrapper
 */
.main {
}

