<div class="section section--main section--padded">
  <div class="section__inner">
    <div class="grid grid--center">
      <div class="page-lead grid__item desk-one-half lap-two-thirds">
        <h3 class="page-lead__headline"><mark>404</mark> Page not found</h3>
        <p>Sorry, the page you're looking for doesn't exist.  Try heading back to our <%= link_to "homepage", '/' %> or contact us for more information.</p>
      </div>
    </div>
  </div>
</div>
